
<header>

    <title> Edição De Clientes Cadastrados </title>
    
    </header>

    <main id="geral">

        <div id="menu-lnk" class="menu-lnk">
            <li> <a routerLink="/" class="lnk-rota"> Inicio </a> </li>
            <li> <a routerLink="/formulario" class="lnk-rota"> formulario </a> </li>
            <li> <a routerLink="/editar" class="lnk-rota"> Edição </a> </li>
        </div>
    
    </main>
    

    
    <div id="form">
        
        <h3> Edição De Clientes </h3>
    
    </div>